@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&family=Inter:wght@400;600&display=swap');

:root {
    --cor-principal: #00000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-terciaria: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.body {
    height: 100vh;
}

.logo {
    margin-top: 10px;
    margin-bottom: 20px;
}

.main-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 300px;
    width: 400px;
    position: relative;
}

.msg-alert {
    font-family: var(--fonte-secundaria);
    font-weight: 100;
}

.img-btn {
    flex: 1;
    bottom: 0;
    resize: none;
    position: absolute;
    left: 70;
    margin-left: 45px;
    margin-bottom: 100px;
}

.div-msg {
    border-radius: none;
    border: none;
    display: flex;
    font-size: 40px;
    flex: 1;
    width: 550px;
    height: 522px;
    margin: 0;
    margin-left: 25px;
    padding: 0;
    resize: none;
    font-family: var(--fonte-terciaria);
    font-weight: 400;
    font-size: 30px;
    margin-top: -30px;
    outline: none;
}

.text-input {
    margin-top: 5px;
    margin-bottom: 250px;
    display: flex;
    font-family: var(--fonte-terciaria);
    font-weight: 400;
    font-size: 30px;
    width: 700px;
    height: 40px;
    border: none;
    resize: none;
    outline: none;
}

.btns-div {
    display: flex;
    align-content: flex-end;
}

.btn-crip {
    margin: 40px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #22D4FD, rgb(72, 245, 72) );
    border-image-slice: 1;
    transition: background-color 0.3s, border 0.3s, border-radius 0.3s;
}

.btn-crip:hover {
    background-color: #272727;
    border-radius: 10px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #b302aa, rgb(0, 224, 224) );
    border-image-slice: 1;
    transition: background-color 0.3s, border 0.3s, border-radius 0.3s;
}

.btn-desc {
    margin: 40px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #22D4FD, rgb(72, 245, 72) );
    border-image-slice: 1;
    transition: background-color 0.3s, border 0.3s, border-radius 0.3s;
}

.btn-desc:hover {
    background-color: #272727;
    border-radius: 10px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #b302aa, rgb(0, 224, 224) );
    border-image-slice: 1;
    transition: background-color 0.3s, border 0.3s, border-radius 0.3s;
}

.copy-button {
    margin: 40px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #22D4FD, rgb(72, 245, 72) );
    border-image-slice: 1;
    transition: background-color 0.3s, border 0.3s, border-radius 0.3s;
}

.copy-button:hover {
    background-color: #272727;
    border-radius: 10px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #b302aa, rgb(0, 224, 224) );
    border-image-slice: 1;
    transition: background-color 0.3s, border 0.3s, border-radius 0.3s;
}

.footer {
    padding: 13px;
    color: black;
    background: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 0.8rem;
}